/* purgecss start ignore */
@tailwind base;

html,
body,
#__next {
  height: 100%;
}

html {
  font-size: 20px;
  line-height: 1.4;

  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
}

a {
  text-decoration: underline;
}

@tailwind components;
/* purgecss end ignore */

@tailwind utilities;
